.card {
    background-color: var(--mantine-color-body);
  }
  
  .title {
    font-weight: bold;
    font-family: Greycliff CF, var(--mantine-font-family);
    line-height: 1.2;
  }
  
  .body {
    padding: var(--mantine-spacing-md);
  }


  .input {
    height: rem(54px);
    padding-top: rem(18px);
  }

  .btn {
    margin-top: var(--mantine-spacing-md);
  }
